/***********
 * Dialogs *
 ***********/    
.message-dialog.csd .dialog-action-area .button {
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    border:none;
}

.message-dialog.csd .dialog-action-area .button:hover {
    color: @theme_selected_bg_color;
}

.message-dialog.csd .dialog-action-area .button:active,
.message-dialog.csd .dialog-action-area .button:checked,
.message-dialog.csd .dialog-action-area .button:active:focus,
.message-dialog.csd .dialog-action-area .button:checked:focus {
    color: @theme_selected_bg_color;
}
