# ==============================================================================
# CHROMIUM SPECIFIC SETTINGS
# ==============================================================================

style "chromium_toolbar_button" {
	engine "murrine" {
		roundness = 3
		textstyle = 0
	}
}

style "chrome-gtk-frame"
{
  ChromeGtkFrame::frame-color = "#3c3b37"
  ChromeGtkFrame::inactive-frame-color = "#3c3b37"

  ChromeGtkFrame::frame-gradient-size = 16
  ChromeGtkFrame::frame-gradient-color = "#5c5b56"

  ChromeGtkFrame::incognito-frame-color = lighter ("#3c3b37")
  ChromeGtkFrame::incognito-inactive-frame-color = lighter ("#3c3b37")

  ChromeGtkFrame::incognito-frame-gradient-size = 16
  ChromeGtkFrame::incognito-frame-gradient-color = "#5c5b56"

  ChromeGtkFrame::scrollbar-trough-color = shade (0.912, @bg_color)
  ChromeGtkFrame::scrollbar-slider-prelight-color = shade (1.04, @bg_color)
  ChromeGtkFrame::scrollbar-slider-normal-color = @bg_color
}

class "ChromeGtkFrame" style "chrome-gtk-frame"

widget_class "*Chrom*Button*" style "chromium_toolbar_button"






