
/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */

.check {
    background-image: url("assets/check-unselected.png");
}

.check:hover {
    background-image: url("assets/check-unselected-hover.png");
}

.check row,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets/check-unselected-alt.png");
}

.check row:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
    background-image: url("assets/check-unselected-hover-alt.png");
}

.check:insensitive {
    background-image: url("assets/check-unselected-disabled.png");
}

.check row:insensitive {
    background-color: transparent;
}

.check row:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-color: transparent;
    background-image: url("assets/check-unselected-disabled-alt.png");
}

.check:backdrop {
    background-image: url("assets/backdrop-check-unselected.png");
}

.check:hover:backdrop {
    background-image: url("assets/backdrop-check-unselected-hover.png");
}

.check row:backdrop,
.check row:selected:backdrop {
    background-image: url("assets/backdrop-check-unselected-alt.png");
}

.check row:hover:backdrop,
.check row:selected:hover:backdrop {
    background-image: url("assets/backdrop-check-unselected-hover-alt.png");
}

.check:insensitive:backdrop {
    background-image: url("assets/backdrop-check-unselected-disabled.png");
}

.check row:selected:insensitive:backdrop {
    background-image: url("assets/backdrop-check-unselected-disabled-alt.png");
}

.check:active {
    background-image: url("assets/check-selected.png");
}

.check:active:hover {
    background-image: url("assets/check-selected-hover.png");
}

.check row:active,
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/check-selected-alt.png");
}

.check row:active:hover,
.check row:selected:active:hover,
.check row:selected:active:focus:hover {
    background-image: url("assets/check-selected-hover-alt.png");
}

.check:active:insensitive {
    background-image: url("assets/check-selected-disabled.png");
}

.check row:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
    background-image: url("assets/check-selected-disabled-alt.png");
}

.check:active:backdrop {
    background-image: url("assets/backdrop-check-selected.png");
}

.check:active:backdrop {
    background-image: url("assets/backdrop-check-selected-hover.png");
}

.check row:active:backdrop,
.check row:selected:active:backdrop {
    background-image: url("assets/backdrop-check-selected-alt.png");
}

.check row:active:hover:backdrop,
.check row:selected:active:hover:backdrop {
    background-image: url("assets/backdrop-check-selected-hover-alt.png");
}

.check:active:insensitive:backdrop {
    background-image: url("assets/backdrop-check-selected-disabled.png");
}

.check row:selected:active:insensitive:backdrop {
    background-image: url("assets/backdrop-check-selected-disabled-alt.png");
}

.check:inconsistent {
    background-image: url("assets/check-mixed.png");
}

.check:inconsistent:hover {
    background-image: url("assets/check-mixed-hover.png");
}

.check row:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    background-image: url("assets/check-mixed-alt.png");
}

.check row:inconsistent:hover,
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
    background-image: url("assets/check-mixed-hover-alt.png");
}

.check:inconsistent:insensitive {
    background-image: url("assets/check-mixed-disabled.png");
}

.check row:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    background-image: url("assets/check-mixed-disabled-alt.png");
}

.check:inconsistent:backdrop {
    background-image: url("assets/backdrop-check-mixed.png");
}

.check:inconsistent:hover:backdrop {
    background-image: url("assets/backdrop-check-mixed-hover.png");
}

.check row:inconsistent:backdrop,
.check row:selected:inconsistent:backdrop {
    background-image: url("assets/backdrop-check-mixed-alt.png");
}

.check row:inconsistent:hover:backdrop,
.check row:selected:inconsistent:hover:backdrop {
    background-image: url("assets/backdrop-check-mixed-hover-alt.png");
}

.check:inconsistent:insensitive:backdrop {
    background-image: url("assets/backdrop-check-mixed-disabled.png");
}

.check row:selected:inconsistent:insensitive:backdrop {
    background-image: url("assets/backdrop-check-mixed-disabled-alt.png");
}

.radio {
    background-image: url("assets/radio-unselected.png");
}

.radio:hover {
    background-image: url("assets/radio-unselected-hover.png");
}

.radio row,
.radio row:selected,
.radio row:selected:focus {
    background-image: url("assets/radio-unselected-alt.png");
}

.radio row:hover,
.radio row:selected:hover,
.radio row:selected:focus:hover {
    background-image: url("assets/radio-unselected-hover-alt.png");
}

.radio:insensitive {
    background-image: url("assets/radio-unselected-disabled.png");
}

.radio row:insensitive {
    background-color: transparent;
}

.radio row:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    background-image: url("assets/radio-unselected-disabled-alt.png");
}

.radio:backdrop {
    background-image: url("assets/backdrop-radio-unselected.png");
}

.radio:hover:backdrop {
    background-image: url("assets/backdrop-radio-unselected-hover.png");
}

.radio row:backdrop,
.radio row:selected:backdrop {
    background-image: url("assets/backdrop-radio-unselected-alt.png");
}

.radio row:hover:backdrop,
.radio row:selected:hover:backdrop {
    background-image: url("assets/backdrop-radio-unselected-hover-alt.png");
}

.radio:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-unselected-disabled.png");
}

.radio row:selected:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-unselected-disabled-alt.png");
}

.radio:active {
    background-image: url("assets/radio-selected.png");
}

.radio:active:hover {
    background-image: url("assets/radio-selected-hover.png");
}

.radio row:active,
.radio row:selected:active,
.radio row:selected:focus:active {
    background-image: url("assets/radio-selected-alt.png");
}

.radio row:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
    background-image: url("assets/radio-selected-hover-alt.png");
}

.radio:active:insensitive {
    background-image: url("assets/radio-selected-disabled.png");
}

.radio row:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
    background-image: url("assets/radio-selected-disabled-alt.png");
}

.radio:active:backdrop {
    background-image: url("assets/backdrop-radio-selected.png");
}

.radio:active:hover:backdrop {
    background-image: url("assets/backdrop-radio-selected-hover.png");
}

.radio row:active:backdrop,
.radio row:selected:active:backdrop {
    background-image: url("assets/backdrop-radio-selected-alt.png");
}

.radio row:active:hover:backdrop,
.radio row:selected:active:hover:backdrop {
    background-image: url("assets/backdrop-radio-selected-hover-alt.png");
}

.radio:active:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-selected-disabled.png");
}

.radio row:selected:active:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-selected-disabled-alt.png");
}

.radio:inconsistent {
    background-image: url("assets/radio-mixed.png");
}

.radio:inconsistent:hover {
    background-image: url("assets/radio-mixed-hover.png");
}

.radio row:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    background-image: url("assets/radio-mixed-alt.png");
}

.radio row:inconsistent:hover,
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
    background-image: url("assets/radio-mixed-hover-alt.png");
}

.radio:inconsistent:insensitive {
    background-image: url("assets/radio-mixed-disabled.png");
}

.radio row:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    background-image: url("assets/radio-mixed-disabled-alt.png");
}

.radio:inconsistent:backdrop {
    background-image: url("assets/backdrop-radio-mixed.png");
}

.radio:inconsistent:hover:backdrop {
    background-image: url("assets/backdrop-radio-mixed-hover.png");
}

.radio row:inconsistent:backdrop,
.radio row:selected:inconsistent:backdrop {
    background-image: url("assets/backdrop-radio-mixed-alt.png");
}

.radio row:inconsistent:hover:backdrop,
.radio row:selected:inconsistent:hover:backdrop {
    background-image: url("assets/backdrop-radio-mixed-hover-alt.png");
}

.radio:inconsistent:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-mixed-disabled.png");
}

.radio row:selected:inconsistent:insensitive:backdrop {
    background-image: url("assets/backdrop-radio-mixed-disabled-alt.png");
}

/*.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .radio:hover {
    background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
    background-image: url("assets/sidebar-radio-selected-prelight.svg");
}*/

.primary-toolbar .menu .check,
.menubar.toolbar .menu .check,
.header-bar .menu .check,
.menu .check {
    background-image: url("assets/check-menuitem-unselected.png");
}

.primary-toolbar .menu .radio,
.menubar.toolbar .menu .radio,
.header-bar .menu .radio,
.menu .radio {
    background-image: url("assets/check-menuitem-unselected.png");
}

.primary-toolbar .menu .check:active,
.menubar.toolbar .menu .check:active,
.header-bar .menu .check:active,
.toolbar .menu .check:active:hover,
.menu .check:active,
.menu .check:active:hover {
    background-image: url("assets/check-menuitem.png");
}

.primary-toolbar .menu .check:active:insensitive,
.menubar.toolbar .menu .check:active:insensitive,
.header-bar .menu .check:active:insensitive,
.toolbar .menu .check:active:hover:insensitive,
.menu .check:active:insensitive,
.menu .check:active:hover:insensitive {
    background-image: url("assets/check-menuitem-insensitive.png");
}

.primary-toolbar .menu .radio:active,
.menubar.toolbar .menu .radio:active,
.header-bar .menu .radio:active,
.toolbar .menu .radio:active:hover,
.menu .radio:active,
.menu .radio:active:hover {
    background-image: url("assets/radio-menuitem.png");
}

.primary-toolbar .menu .radio:active:insensitive,
.menubar.toolbar .menu .radio:active:insensitive,
.header-bar .menu .radio:active:insensitive,
.toolbar .menu .radio:active:hover:insensitive,
.menu .radio:active:insensitive,
.menu .radio:active:hover:insensitive {
    background-image: url("assets/radio-menuitem-insensitive.png");
}

.toolbar .menu .check {
    background-image: url("assets/check-menuitem-unselected.png");
}

.toolbar .menu .radio {
    background-image: url("assets/check-menuitem-unselected.png");
}

.toolbar .menu .check:active {
    background-image: url("assets/check-menuitem-dark.png");
}

.toolbar .menu .check:active:insensitive {
    background-image: url("assets/check-menuitem-insensitive-dark.png");
}

.toolbar .menu .radio:active {
    background-image: url("assets/radio-menuitem-dark.png");
}

.toolbar .menu .radio:active:insensitive {
    background-image: url("assets/radio-menuitem-insensitive-dark.png");
}

/*********************
 * GtkScale's slider *
 *********************/

.scale.slider,
.scale.slider.horizontal {
    background-image: url("assets/slider-horizontal.svg");
}

.scale.slider:backdrop,
.scale.slider.horizontal:backdrop {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}

.scale.slider:hover,
.scale.slider.horizontal:hover {
    background-image: url("assets/slider-horizontal-focused.svg");
}

.scale.slider:hover:backdrop,
.scale.slider.horizontal:hover:backdrop {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}

.scale.slider:focused:backdrop,
.scale.slider.horizontal:focused:backdrop {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}

.scale.slider:focused,
.scale.slider.horizontal:focused {
    background-image: url("assets/slider-horizontal-focused.svg");
}

.scale.slider:hover:focused,
.scale.slider.horizontal:hover:focused {
    background-image: url("assets/slider-horizontal-focused.svg");
}

.scale.slider:hover:focused:backdrop,
.scale.slider.horizontal:hover:focused:backdrop {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}

.scale.slider:insensitive,
.scale.slider.horizontal:insensitive {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}

.scale.slider:insensitive:backdrop,
.scale.slider.horizontal:insensitive:backdrop {
    background-image: url("assets/backdrop-slider-horizontal.svg");
}
/* vertical */
.scale.slider.vertical {
    background-image: url("assets/slider-vertical.svg");
}

.scale.slider.vertical:backdrop {
    background-image: url("assets/backdrop-slider-vertical.svg");
}

.scale.slider.vertical:hover {
    background-image: url("assets/slider-vertical-focused.svg");
}

.scale.slider.vertical:hover:backdrop {
    background-image: url("assets/backdrop-slider-vertical.svg");
}

.scale.slider.vertical:focused {
    background-image: url("assets/slider-vertical-focused.svg");
}

.scale.slider.vertical:focused:backdrop {
    background-image: url("assets/backdrop-slider-vertical.svg");
}

.scale.slider.vertical:hover:focused {
    background-image: url("assets/slider-vertical-focused.svg");
}

.scale.slider.vertical:hover:focused:backdrop {
    background-image: url("assets/backdrop-slider-vertical.svg");
}

.scale.slider.vertical:insensitive {
    background-image: url("assets/backdrop-slider-vertical.svg");
}

.scale.slider.vertical:insensitive:backdrop {
    background-image: url("assets/backdrop-slider-vertical.svg");
}


