/************
 * nautilus *
 ************/
.nautilus-canvas-item {
    border-radius: 0px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: white;
    text-shadow: 1px 1px alpha(black,0.8);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    border-radius: 3px;
    text-shadow: none;
}

/******************
 * gnome terminal *
 ******************/
VteTerminal {
    background-color: @bg_color;
    color: @fg_color;
}

/*********
 * gedit *
 *********/
GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 0 5px;
    border: 0;
    background-color: @bg_color;
}

GeditViewFrame .gedit-search-slider .linked .button {
    border-color: alpha(black,0.2);
}

GeditViewFrame .gedit-search-slider .linked .button:hover {
    border-color: transparent;
    border-top-color: alpha(white,0.2);
    border-bottom-color: alpha(black,0.2);
}


GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_bg_color;
    background-image: none;
    color: @error_fg_color;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

GdTaggedEntry *{
	color: @fg_color;
}

/**************
 * Tweak Tool *
 **************/
.tweak:hover{
    color: @text_color;
}

.tweak-categories .list-row.button:hover {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.tweak-categories {
    background-color: @base_color;
    background-image: linear-gradient(to bottom,@base_color,@base_color);
}

/**************
 * Calculator *
 **************/
MathButtons .button {
    border-radius: 0px;
    border-color: transparent;
}

MathButtons GtkComboBox .button{
    border-radius: 4px;
}
