/* Default color scheme */
@define-color base_color #333;
@define-color bg_color #383838;
@define-color tooltip_bg_color #000;
@define-color selected_bg_color #4a90d9;
@define-color text_color #dedede;
@define-color insensitive_color #888;
@define-color fg_color #dedede;
@define-color tooltip_fg_color #dedede;
@define-color selected_fg_color #fff;
@define-color transparent alpha (#000, 0.00);
/* Colormap actually used by the theme, to be overridden in other css files */
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;

@define-color link_color #08C;
@define-color frame_color shade (@theme_bg_color, 0.6);
@define-color inactive_frame_color shade (@theme_bg_color, 0.9);
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (0, 136, 204);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);

@define-color insensitive_bg_color shade (@theme_bg_color, 1.2);
@define-color insensitive_fg_color shade (@theme_fg_color, 0.9);

@import url("apps/unity.css");
@import url("gtk-widgets.css");
@import url("apps/nautilus.css");
